# dependencies
automation/node_modules

# misc
.DS_Store

# Visual Studio Code
*.code-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# environment files
automation/.env

# reports
*allure-report
!automation/reports/.gitkeep
*test-results

